.accordion-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e8d5d5;
  background-color: #190101;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  padding-left: 5px;
}

.accordion-flexbox:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.accordion-title {
  font-weight: 500;
  font-size: 13px;
}

.accordion-collapse-text-container {
  color: #e8d5d5;
  background-color: #1a1313;
  padding-top: 17px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 2px;
  font-size: 12px;
}

.accordion-icon {
  margin-right: 5px;
}

.collapsed-text {
  color: #e8d5d5;
  margin: 0;
}

/* Media query */
@media screen and (min-width: 768px) {
  .accordion-item {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .accordion-collapse-text-container {
    padding-top: 30px;
    padding-bottom: 27px;
    font-size: 24px;
  }

  .accordion-title {
    font-size: 24px;
    font-weight: 500;
  }
}
