.accordion-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
  background-image: linear-gradient(to bottom, #0a0a0a, 95%, #870e0e);
  border-radius: 5px;
  height: 10vh;
}
/* .accordion-item {
  filter: drop-shadow(5px 8px 35px rgb(126, 126, 126));
} */
.accordion-flexbox:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.accordion-title {
  padding-left: 0.5vw;
  font-weight: 800;
  font-size: 16px;
}

.accordion-collapse-text-container {
  color: #f0f0f0;
  background-image: linear-gradient(to top, #0a0a0a, 99%, #870e0e);
  border-radius: 5px;
  padding-top: 17px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 2px;
  font-size: 12px;
}

.accordion-icon {
  margin: 0;
  padding-top: 0.9vh;
  padding-right: 0.9vh;
  font-size: 1.8em;
}

.collapsed-text {
  color: #f0f0f0;
  margin: 0;
}

/* Media query */

@media (orientation: portrait) and (max-width: 1024px) {
  .accordion-item {
    width: 100%;
  }

  .accordion-collapse-text-container {
    padding-top: 30px;
    padding-bottom: 27px;
    font-size: 24px;
  }

  .accordion-title {
    font-size: 24px;
    font-weight: 500;
  }
  .accordion-flexbox {
    justify-content: center;
  }
}
