.accordion-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e8d5d5;
  background-color: #190101;
  border-radius: 5px;
  height: 10vw;
}
.accordion-item {
  filter: drop-shadow(5px 8px 35px rgb(126, 126, 126));
}
.accordion-flexbox:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.accordion-title {
  padding-left: 0.5vw;
  font-weight: 800;
  font-size: 16px;
}

.accordion-collapse-text-container {
  color: #e8d5d5;
  background-color: #1a1313;
  padding-top: 17px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 2px;
  font-size: 12px;
}

.accordion-icon {
  margin: 0;
  padding-top: 0.9vh;
  padding-right: 0.9vh;
  font-size: 1.8em;
}

.collapsed-text {
  color: #e8d5d5;
  margin: 0;
}
@media (orientation: landscape) and (min-width: 375px) {
}

/* Media query */
@media screen and (min-width: 768px) {
  .accordion-item {
    width: 100%;
  }

  .accordion-collapse-text-container {
    padding-top: 30px;
    padding-bottom: 27px;
    font-size: 24px;
  }

  .accordion-title {
    font-size: 24px;
    font-weight: 500;
  }
}
