.div-container {
  width: 100%;
  margin-left: 16px;
}

.home-paragraph {
  font-size: 24px;
  color: #f0f0f0;
  filter: drop-shadow(2px 4px 6px #0a0a0a);
  font-weight: 500;
}

.div-card {
  margin-bottom: 22px;
  padding-left: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Média query portrait */
