/* Injection de la bannière et d'un filtre de luminosité  */
.about {
  display: flex;
  flex-direction: column;
  background-image: url(../../img/redlight_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(1.2);
  /* background-color: black; */
  padding-top: 40%;
  padding-bottom: 9vw;
}
.about__banner--container {
  background-image: url(../../img/head_about.webp);
  background-size: cover;
  padding: 4em 1em 1em 1em;
  display: flex;
  width: 100%;
  /* height: 19vh; */
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  filter: drop-shadow(3em -1em 1em black);
}

.accordion-about-container {
  margin-bottom: 2em;
  margin-top: 1em;
}
@media screen and (min-width: 375px) {
  .about {
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    padding-top: 35vw;
    padding-bottom: 2vw;
  }
}
/* Utilisation de flexbox */
@media screen and (min-width: 768px) {
  .accordion-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 1em;
  }
}
